body{
    background-color: black;
}
.container{
    display:flex;
}
.left{
    display: flex;
    flex-direction: column;
    flex-basis: 70rem;
    color:white;
}
.mc{
    color:plum;
    position:absolute;
    font-size:3rem;
    opacity: 0;
    animation-duration: 0.5s;
    margin-left: 27.5rem;
    margin-top: 30rem;
    text-shadow: 0px 2px 20px rgb(122, 116, 116);
}
.lamp{
    text-align: right;
    margin-right: 11.5rem;
}
.light{
    text-align: right;
    opacity: 0;
    animation-duration: 0.5s;
}
.lamp img{
    width: 25%;
}
.light img{
    width: 67%;
}
.right{
    display: flex;
    float: right;
    flex-direction:row;
    margin-right:1rem;
    margin-top: 1rem;
}
.right div{
    margin-left: 4rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    color:aliceblue
}
.right div:hover{
    cursor: pointer;
}
.switch{
    background-color:gray;
    width: 4.5rem;
    height: 2rem;
    border-radius: 1rem;
    margin-left: 4rem;
    transition: 0.5s;
}
.switch button{
    position: absolute;
    border-radius: 50%;
    border:none;
    height: 1.7rem;
    width: 1.7rem;
    margin-top: 0.15rem;
    margin-left: 0.2rem;
    background-color:rgba(255, 255, 255, 0.616);
    transition: 0.5s;
}
.switch button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.616);
}
@keyframes fade {
    0% {
            opacity: 1;
    }
    100% {
            opacity: 0;
    }
}
@keyframes show {
    0% {
            opacity: 0;
    }
    100% {
            opacity: 1;
    }
}
